import * as {{camelCase machine}} from "@destyler/{{machine}}"
import { normalizeProps, useMachine, mergeProps } from "@destyler/solid"
import { createMemo, createUniqueId } from "solid-js"
import { {{camelCase machine}}Controls, {{camelCase machine}}Data } from "@destyler/shared-private-private"
import { StateVisualizer } from '../components/tools/state-visualizer'
import { Toolbar } from '../components/tools/toolbar'
import { useControls } from '../hooks/use-controls'

export default function Page() {
  const controls = useControls({{camelCase machine}}Controls)

  const [state, send] = useMachine({{camelCase machine}}.machine({ id: createUniqueId() }), {
    context: controls.context,
  })

  const api = createMemo(() => {{camelCase machine}}.connect(state, send, normalizeProps))

  return (
    <>
      <main class="{{machine}}">
        <div {...api().getRootProps()}>

        </div>
      </main>

      <Toolbar controls={controls.ui}>
        <StateVisualizer state={state} />
      </Toolbar>
    </>
  )
}
